SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/sprintly
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

SERVER_PORT=8080

LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=info
LOGGING_LEVEL_ORG_HIBERNATE_SQL=info

APP_SECURITY_JWT_SECRET=replace-with-long-random-jwt-secret
APP_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION=86400000

APP_SECURITY_CAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
APP_SECURITY_CAPTCHA_SECRET=replace-with-real-captcha-secret

APP_STORAGE_S3_ENDPOINT=https://s3.ru-3.storage.selcloud.ru
APP_STORAGE_S3_REGION=ru-3
APP_STORAGE_S3_BUCKET=sprintly-media
APP_STORAGE_S3_ACCESS_KEY=replace-with-selectel-access-key
APP_STORAGE_S3_SECRET_KEY=replace-with-selectel-secret-key
APP_STORAGE_S3_PUBLIC_BASE_URL=
APP_STORAGE_S3_PATH_STYLE_ACCESS=false
